<p>fuck yeah, driver details page</p>
<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <app-speed-gauge [speed]="currentTelemetryUpdate?.speed" style="width: 100%"/>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-speed-gauge [speed]="currentTelemetryUpdate?.throttle" style="width: 100%"/>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-speed-gauge [speed]="currentTelemetryUpdate?.rpm" style="width: 100%"/>
    </mat-grid-tile>
    <mat-grid-tile>
    </mat-grid-tile>
</mat-grid-list>
